---
layout: home-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.data.author.profile-pic %}{{site.data.author.profile-pic}}{% endif %}" alt="{{site.data.author.full-name}}">
      </div>
      <p class="subtitle">{{site.data.author.bio}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.data.author.email %}
        <li class="email"><a href="mailto:{{site.data.author.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}

      {% if site.data.author.phone %}
        <li class="phone"><a href="tel:{{site.data.author.phone}}"><i class="fa fa-phone"></i></a></li>
      {% endif %}

      {% if site.data.author.website %}
        <li class="website"><a href="https://{{site.data.author.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% endif %}

      {% if site.data.author.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.data.author.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}

      {% if site.data.author.github %}
        <li class="github"><a href="https://github.com/{{site.data.author.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}

      {% if site.data.author.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.data.author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}

      {% if site.data.author.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.data.author.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% endif %}

      {% if site.data.author.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.data.author.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
      {% endif %}

      {% if site.data.author.pinterest %}
        <li class="pinterest"><a href="https://pinterest.com/{{site.data.author.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      {% endif %}
      </ul>
    </section>
  </div>
</div>
